receivers:
  otlp:
    protocols:
      grpc: # 4317 OTLP gRPC receiver
      #http: # 4318 OTLP http receiver

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889" # accept connection to 8889 from any addresses
    
  otlp/tempo:
    endpoint: "tempo:4317" # send to OTLP gRPC
    tls:
      insecure: true
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
  
processors:
  batch:
  resource:
    attributes:
      - action: insert
        key: loki.resource.labels
        value: SystemName

extensions:
  health_check:
    endpoint: "0.0.0.0:13133"
    path: "/health/status"
    check_collector_pipeline:
      enabled: true
      interval: "5m"
      exporter_failure_threshold: 5

service:
  extensions: [health_check]
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    logs:
      receivers: [ otlp ]
      processors: [ resource ]
      exporters: [ loki ]
      